.create_colleaction{

    .uplaod_img{   
        background-image: url("../../assets/images/imgUpload.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .button_width{
        width: 290px;
    }
    
}